
setion(class=" h-custom mb-5 mt-auto")
    div(class="container py-3")
        div(class="row d-flex justify-content-center ")
            div(class="col-10")
                div(class="table-responsive")
                    h1(class="txtCenter txtMed2 fontSpecial")="Table of products"
                    table(class="table fieldset__--margin spBorder table-bordered")
                         
                        if allData.length !=0
                            thead
                                tr 
                                    th(scope="col" class="txtCenter")="Id"
                                    th(scope="col" class="txtCenter")="Title"
                                    th(scope="col" class="txtCenter")="Price"
                                    th(scope="col" class="txtCenter")="Thumbnail"
                                tbody(id="tbody")
                                
                                    each product in allData
                                        tr 
                                            td(class="align-middle txtCenter")= product.id
                                            td(class="align-middle txtCenter")= product.title 
                                            td(class="align-middle txtCenter")= product.price 
                                            td(class="align-middle txtCenter")
                                                img(class="img-fluid rounded-3 centerImg" src=product.thumbnail, alt=product.title, width="30%", height="30%")
                        else 
                            div(class="txtCenter")="No hay productos cargados"