if cartData.products.length == 0
    h2(class="txtCenter txtMed2 fontSpecial")="No tienes productos en tu carrito!"
else 

    h2(class="txtCenter txtMed2 fontSpecial")="Para recibir confirmación de tu pedido por Whatsapp, escanea el QR. "
    div(class="d-flex justify-content-center align-items-center") 
        img(class="img-fluid rounded-3 mt-3" src="https://firebasestorage.googleapis.com/v0/b/aubier-coderhousereact.appspot.com/o/twilioWhatsappQR.png?alt=media&token=91a34af2-1cd6-40ac-a4f7-0b542c366c69", alt="QR para recibir Whatsapp de confirmacion.")

    section(class="h-100 h-custom mb-5 mt-auto")
        div(class="row d-flex justify-content-center align-items-center ")
            div(class="col-10 ")
                div(class="table-responsive")
                    table(class="table")
                        thead
                            tr
                                th(scope="col" class="txtMed2")= "Carrito"
                                th(scope="col" class='txtMed txtCenter')= "Quitar"
                                th(scope="col" class='txtMed txtCenter')= "Cantidad"
                                th(scope="col" class='txtMed txtCenter')= "P.Unidad"
                                th(scope="col" class='txtMed txtCenter')= "Subtotal"
                        tbody
                            include cartItem  
                    div(class="col-md-6  offset-md-3 mb-5 mt-5 txtCenter")
                        button(type="button" class="btn btn-info btn-block btn-lg")
                            div(class="d-flex justify-content-between")
                                span(class='txtSmall2')= "Lorem"
                    div(class="col-md-6 offset-md-3")
                        div(class="d-flex justify-content-between")
                            p(class="mb-2")="Total (sin IVA)"
                            p(class="mb-2")=`Lorem`
                        hr(class="my-4")
                        div(class="d-flex justify-content-between mb-4" )
                            p(class="mb-2")= "Impuestos (IVA)"
                            p(class="mb-2")= "Ipsum"
                        form(action="/api/cart/buy" method="POST" class="d-flex txtCenter justify-content-center mb-4")
                            input(type="submit" value="Terminar la compra, total: X" style="font-size: 2rem;" class="btn btn-block btn-info btn-lg" )                                